<!DOCTYPE html>
<html>
<head>
	<title>SPYDR</title>
	<link rel="stylesheet" type="text/css" href="themes/day.css">
	<link rel="icon" href="images/icon.png">

</head>
<body>
	<!--Navigation-->
	<ul id="nav_bar">
		<li><a href="/logged_home">Home</a></li>
		<li><a href="/account">Account</a></li>
		<li><img id="logo" src="images/icon.png"></li>
		<li><a href="/planner">Calendar</a></li>
		<li><a href="/logout">Log Out</a></li>
	</ul>

	<!--Main-->
	<div id="main">
		<h1>{{date}}</h1>
		<div class="section">
			<h1>Daily Objectives</h1>

			<form method="post" action="/objectives">
				<input type="text" name="objective" value="Enter objective ..." placeholder="Enter an objective: " >
				<button class= "add" type="submit">+</button>
			</form>

			<div id="objectives">
				{% for objective in objectives %}
					<div>
						{{objective.name}}
						<input class="objective" type="checkbox" name="objective">
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="section">
			<h1>Daily Events</h1>

			<form method="post" action="/events">
				<input type="text" name="event" value="Enter event ..." placeholder="Enter an event: " >
				<button class="add" type="submit">+</button>
			</form>

			<ul id="events">
				{% for event in events %}
					<li class="event">{{event.name}}</li>
				{% endfor %}
			</ul>
		</div>

	</div>
<script type="text/javascript" src="js/day.js"></script>
<!-- <script type="text/javascript" src="js/planner.js"></script> -->
</body>
</html>